apiVersion: v1
kind: Service
metadata:
  name: nginx-deploy-service
  namespace: default
spec:
  type: NodePort
  selector:
    app: nginx-deploy
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30007
